#counter {
    text-align: center;
    font-size: 3em;
}

.body {
    height: 100%;
    width: 100%;
}

#container {
    margin: auto;
}

.change {
    font-size: 2em;
    width: 100%;
    margin: 0px;
    padding: 0px;
}